<br>
<div class="container">
    <div class="row">
        <div class="col-12 azul">
            <div class="card">
                <div class="card-body">
                    <h3> <i class="fas fa-calendar-check fa-sm"></i> Cadastro de Consultas</h3><br>

                    <div class="row">
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <input (keyup)="findByDescricao()" [(ngModel)]="pesquisa" type="text" class="form-control"
                                    placeholder="Digite parte da descrição" aria-label="Descrição da consulta"
                                    aria-describedby="button-addon2" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="alinharADireita">
                                <a *ngIf="!modoModal" (click)="new()" class="btn btn-success btn-rounded" mdbRippled>
                                    <i class="fas fa-plus fa-sm"></i> Novo
                                </a>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">DATA/HORA</th>
                                <th scope="col">ANIMAL</th>
                                <th scope="col">MÉDICO</th>
                                <th scope="col">STATUS</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (consulta of lista; track $index) {
                            <tr>
                                <td>{{consulta.id}}</td>
                                <td>{{consulta.dataHora | date:'dd/MM/yyyy HH:mm'}}</td>
                                <td>{{consulta.animal?.nome}}</td>
                                <td>{{consulta.medico?.nome}}</td>
                                <td>{{consulta.status}}</td>
                                <td class="alinharADireita">
                                        <button *ngIf="modoModal" (click)="selecionar(consulta)" class="btn btn-primary btn-rounded me-1" mdbRippled>
                                            Selecionar
                                        </button>
                                        <ng-container *ngIf="!modoModal">
                                            <a (click)="edit(consulta)" class="btn btn-primary btn-rounded" mdbRippled>
                                                <i class="fas fa-pencil fa-sm"></i>
                                            </a>
                                            <button (click)="delete(consulta)" class="btn btn-danger btn-rounded" mdbRippled>
                                                <i class="fas fa-trash fa-sm"></i>
                                            </button>
                                        </ng-container>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalConsultaForm>
    <div class="modal-header">
        @if(consultaEdit.id > 0){
            <h5 class="modal-title">Editar Consulta</h5>
        }@else {
            <h5 class="modal-title">Nova Consulta</h5>  
        }
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    </div>
    <div class="modal-body">
        <app-consulta-form [consulta]="consultaEdit" (meuEvento)="meuEventoTratamento($event)"></app-consulta-form>
    </div>
</ng-template>