[mysqld]
# Enable SSL/TLS for MariaDB server (copy of certs is placed under /var/lib/mysql/ssl at startup)
ssl-ca=/var/lib/mysql/ssl/ca.crt
ssl-cert=/var/lib/mysql/ssl/fullchain.pem
# Use RSA PKCS#1 private key (converted) for broader compatibility
ssl-key=/var/lib/mysql/ssl/wildcard_rsa.key
require_secure_transport=ON

# Optional hardening
skip_symbolic_links=ON
local_infile=0
